astroid==2.3.3
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
ezdxf==0.11.2
imageio==2.8.0
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
networkx==2.4
numpy==1.18.2
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.16.2
scipy==1.10.0
six==1.14.0
wrapt==1.11.2
